.hover-telegram:hover * {
  fill: #2a9cd4;
  stroke: #2a9cd4;
}

.hover-twitter:hover * {
  fill: #1d9bf0;
  stroke: #1d9bf0;
}

.hover-whatsapp:hover * {
  fill: #23cd43;
  stroke: #23cd43;
}

.hover-youtube:hover * {
  fill: #f00;
  stroke: #f00;
}