@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}